*{
	margin: 0;
	padding: 0;
	font-family: 'Faustina', serif;
	box-sizing: border-box;
}
html, body{
	height: 100%;
	background-color: #DFF5FC;
}
.container{
	width: 100%;
	margin: 0 auto;
	max-width: 1440px;
}
.clear{
	clear: both;
}
.w30{
	width: 30%;
	float: left;
}
.w50{
	width: 50%;
	float: left;

}
.w70{
	width: 70%;
	float: left;
}
nav.mobile{
	display: none;
}
nav.desktop{
	height: 110px;
	background-color: #215E8B;
	width: 100%;
}
nav.desktop ul{
	float: right;
}
nav.desktop li{
	display: inline-block;
    vertical-align: center;
    padding: 10px 30px 20px 30px;
    margin-top: 24px;
    margin-right: 15px;
    transition: 0.8s;
}
nav.desktop li.selected{
	text-decoration: underline;
}
nav.desktop a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}
nav.desktop li:hover{
	background-color: rgba(23,66,97,0.8);
	border-radius: 10px;
	transition: 0.8s;
}
nav.desktop .logo img{
	float: left;
	width: 100px;
	padding-left: 20px;
	margin-top: 20px;
}
section.contato{
	max-width: 1440px;
	margin: 0 auto;
	background-color: rgba(33,94,139,0.3);
	background-image: url(images/escova.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	height: auto;
	min-height: 790px;
}
.contato h2{
	font-size: 30px;
	font-family: 'Amiri', serif;
	text-align: center;
	font-weight: normal;
	padding-top: 25px;
}
.contato h5{
	font-size: 26px;
	text-align: center;
	font-weight: normal;
	padding-top: 20px;
}
section.formulario{
	padding: 60px 0;
	text-align: center;
}
.form-group input[type=text],
.form-group input[type=email]{
	width: 90%;
	height: 40px;
	border: 1px solid #CCC;
	padding-left: 10px;
	margin-bottom: 10px;
}
.form-group textarea{
	width: 89.5%;
	height: 120px;
	border: 1px solid #CCC;
	padding: 10px;
	resize: none;
}
.form-group input[type=submit]{
	width: 100px;
	height: 40px;
	cursor: pointer;
	background: #215E8B;
	border: 0;
	color: white;
	margin-top: 30px;
	border-radius: 10px;
}
.form-group span{
	display: inline-block;
	color: red;
	padding: 2px 0; 
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus{
	box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: 2px solid #215E8B;
}
.box-sucesso{
	margin-top: 10px;
	background: #5FB382;
	display: none;
	width: 100%;
	padding: 10px;
	text-align: center;
	color: white;
}
.redes-sociais{
	text-align: center;
	margin-top: -40px;
}
.redes-sociais h5{
	padding-bottom: 30px;
}
.redes-sociais img{
	margin: 10px;
	width: 54px;
}
footer{
	height: auto;
	background-color: #215E8B;
	max-width: 1440px;
	margin: 0 auto;
}
footer p{
	color: white;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	font-family: 'Faustina', serif;
	padding-top: 22px;
	padding-bottom: 22px;
}
@media screen and (max-width: 800px){
	section.contato{
		height: auto;
	}
	nav.desktop{
		display: none;
	}
	nav.mobile{
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
		height: 80px;
		background-color: #215E8B;
	}
	nav.mobile ul{
		display: none; /*colocar só depois de estilizar, e depois configurar com javascript*/
		background: rgb(80,170,221);
		position: absolute;
		left: 0;
		top: 80px;
		width: 100%;
		text-align: center;
	}
	nav.mobile li.selected{
		background: rgba(33,94,139,1);
	}
	nav.mobile h3{
		cursor: pointer;
		position: absolute;
		top: 16px;
		right: 10px;
		color: white;
		float: left;
	}
	nav.mobile li{
		padding: 8px 0;
		border-top: 1px solid white;
		cursor: pointer;
	}
	nav.mobile a{
		color: white;
		text-decoration: none;
	}
}
