*{
	margin: 0;
	padding: 0;
	font-family: 'Faustina', serif;
}
html, body{
	height: 100%;
	background-color: #DFF5FC;
}
.container{
	max-width: 1440px;
	padding: 0;
	margin: 0 auto;
}
.clear{
	clear: both;
}
.w30{
	width: 30%;
	float: left;
}
.w50{
	width: 50%;
	float: left;
}
.w70{
	width: 70%;
	float: right;
}
section.sobre .w30{
	height: 900px;
	background-color: #174261;
}
.quadro-nome{
	height: 190px;
	width: 90%;
	max-width: 360px;
	background-color: #215E8B;
	border: 2px solid #FFFFFF;
	position: relative;
	top: 90px;
	margin: 0 auto;
	margin-bottom: 40px;
}
.quadro-nome h1{
	font-family: 'Amiri', serif;
	color: white;
	font-weight: normal;
	text-align: center;
	line-height: 90px;
	font-size: 48px;
	padding: 5px;
}
.foto{
	text-align: center;
}
.foto img{
	text-align: center;
	width: 90%;
	max-width: 270px;
	height: 90%;
	max-height: 350px;
	position: relative;
	top: 130px;
	box-shadow: -10px 10px 0px #4D6D9A;
}
.container-redes-sociais{
	margin-top: 220px;
}
.w50 .insta{
	float: right;
}
.insta, .wpp{
	padding: 10px;
}
.insta img,.wpp img{
	width: 100%;
	max-width: 54px;
}
section.sobre .w70{
	height: 900px;
	background-color: #F0F0F0;
}
nav.mobile{
	display: none;
}
nav.desktop{
	height: 110px;
	background-color: #215E8B;
}
nav.desktop ul{
	float: right;
}
nav.desktop li{
	display: inline-block;
    vertical-align: center;
    padding: 10px 30px 20px 30px;
    margin-top: 24px;
    margin-right: 15px;
    transition: 0.8s;
}
nav.desktop li.selected{
	text-decoration: underline;
}
nav.desktop a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}
nav.desktop li:hover{
	background-color: rgba(23,66,97,0.8);
	border-radius: 10px;
	transition: 0.8s;
}
.pagina-sobre img{
	float: right;
	height: 790px;
}
.pagina-sobre .sobre-mim img{
	float: left;
	height: 64px;
	width: 64px;
	margin: 20px 20px 0px 20px;
}
.pagina-sobre .sobre-mim h2{
	font-size: 36px;
	color: #323232;
	padding-top: 26px;
}
.pagina-sobre .sobre-mim p{
	font-size: 22px;
	margin-left: 25px;
	text-align: justify;
}
.pagina-sobre .titulo-hobbies img{
	float: left;
	height: 64px;
	width: 64px;
	margin: 20px 20px 0px 20px;
}
.pagina-sobre .titulo-hobbies h2{
	font-size: 36px;
	color: #323232;
	padding-top: 26px;
}
.pagina-sobre .container-hobbies img{
	float: left;
	height: 80px;
	width: 80px;
	margin: 30px 30px 0px 0px;
}
footer{
	height: auto;
	background-color: #215E8B;
	max-width: 1440px;
	margin: 0 auto;
}
footer p{
	color: white;
	font-weight: lighter;
	font-size: 20px;
	text-align: center;
	font-family: 'Faustina', serif;
	padding-top: 22px;
	padding-bottom: 22px;
}
@media screen and (max-width: 1400px){
	.ultima-img{
		display: none;
	}
	.pagina-sobre .container-hobbies img{
		float: left;
		height: 80px;
		width: 80px;
		margin: 30px 30px 0px 0px;
	}
	section.sobre .w70{
		height: auto;
	}
	.pagina-sobre .sobre-mim p{
		font-size: 20px;
	}
}
@media screen and (max-width: 1280px){
	.pagina-sobre img{
		width: 0;
	}
	.ultima-img{
		display: inline-block;
	}
	.pagina-sobre .sobre-mim p{
		margin-left: 30px;
		margin-right: 30px;
	}
	.foto img{
		text-align: center;
		width: 90%;
		max-width: 270px;
		height: 90%;
		max-height: 350px;
		position: relative;
		top: 130px;
		box-shadow: 0px 0px 0px #FFF;
	}	
}
@media screen and (max-width: 800px){
	.w30,.w70{
		width: 100%;
	}
	nav.desktop{
		display: none;
	}
	nav.mobile{
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
		height: 80px;
		background-color: #215E8B;
	}
	nav.mobile ul{
		display: none; /*colocar só depois de estilizar, e depois configurar com javascript*/
		background: rgb(80,170,221);
		position: absolute;
		left: 0;
		top: 80px;
		width: 100%;
		text-align: center;
	}
	nav.mobile li.selected{
		background: rgba(33,94,139,1);
	}
	nav.mobile h3{
		cursor: pointer;
		position: absolute;
		top: 16px;
		right: 10px;
		color: white;
		float: left;
	}
	nav.mobile li{
		padding: 8px 0;
		border-top: 1px solid white;
		cursor: pointer;
	}
	nav.mobile a{
		color: white;
		text-decoration: none;
	}
	.pagina-sobre{
		height: auto;
	}
	.pagina-sobre img{
		width: 0;
	}
	.pagina-sobre .sobre-mim img{
		float: left;
		height: 64px;
		width: 64px;
		margin: 20px 20px 0px 20px;
	}
	.pagina-sobre .titulo-hobbies img{
		float: left;
		height: 64px;
		width: 64px;
		margin: 20px 20px 0px 20px;
	}
	.pagina-sobre .container-hobbies img{
		float: left;
		height: 75px;
		width: 75px;
		margin-left: -20px;
	}
	.pagina-sobre .sobre-mim p{
		font-size: 18px;
		margin-left: 25px;
		margin-right: 25px;
	}
	.pagina-sobre .container-hobbies img{
		margin-bottom: -100px;
	}
}